# PLATO Environment Variables
RUN_MODE=development

# Server Configuration
PLATO__SERVER__HOST=127.0.0.1
PLATO__SERVER__PORT=8080

# Database Configuration
PLATO__DB__URL=postgres://postgres:postgres@localhost:5432/plato

# Observability
RUST_LOG=info,api=debug,common=debug
